items assets kind software-package url https://github.com/Androidfan54/other-apps/raw/main/Kshaw.ipa kind full-size-image needs-shine url https://play-lh.googleusercontent.com/ZmHuqI9TfCdmYnOmPXa3zMVpzTDO6yU4e32mtnNcHRGDjdYoAoFSGT3czBPd4gse58Y=s200-rw kind display-image needs-shine url https://play-lh.googleusercontent.com/ZmHuqI9TfCdmYnOmPXa3zMVpzTDO6yU4e32mtnNcHRGDjdYoAoFSGT3czBPd4gse58Y=s200-rw metadata bundle-identifier com.stoysh.stoyshstalk
